<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static "firstapp/css/styles.css" %}"/>
    <title>Art CV</title>
</head>
<body>
<header>
</header>
<main>
    <div class="ab">
        <h1>Tymoshenko Nazar Olegovich</h1>
        <img src="{% static "firstapp/images/avatar.jpg" %}" alt="photo Tymoshenko Nazar" height="300px"/>
        <h3>E-mail: tymoshenko@gmail.com</h3>
        <h3>Phone: 0620983969</h3>
    </div>
    <div class="sumanary">
        <h2>Summanary: </h2>
        <ul>
            <p>motived</p>
            <p>punctual</p>
            <p>hardworking</p>
        </ul>
    </div>
    <div class="hobbi ab">
        <h2>Hobbi: </h2>
        <ul>
            <p>Sport</p>
            <p>Reading
                <pi>
            <p>Photo</p>
            <p>Travel</p>
            <p>History
                <pi></pi>
        </ul>
    </div>
    <div class="education">
        <h2>Education: </h2>
        <ul>
            <p>CSTU bachalor 2019 - 2023</p>
        </ul>
    </div>
    <div class="prof_skills ab">
        <h2>Professional Skills: </h2>
        <ul>
            <p>HTML5/CSS</p>
            <p>Python3</p>
            <p>Git</p>
        </ul>
    </div>
    <div class="About">
        <h2>About: </h2>
        <ul>
            <p>I born in 21.02.2002. I'm 18 years old.</p>
            <p>I likes play games</p>
        </ul>
    </div>
</main>
</body>
</html>
